@charset "UTF-8";
@import url("../css/nullstyle.css");
:root {
  --clr1: #cfc8c2;
  --clr2: #1B1B1D;
  --clr3: #64646A;
  --clr4: #2c4e46;
  --clr5: #d9d3d3;
  --clr6: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: var(--clr2);
  background: url("../img/bg.jpg");
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  min-width: 180px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  background-size: 300% 100%;
  background-image: linear-gradient(76.3deg, rgb(69, 131, 123) 12.6%, rgb(44, 78, 70) 82.8%);
  box-shadow: 0 4px 15px 0 rgba(64, 80, 110, 0.39);
}
.btn:hover {
  box-shadow: 0 4px 15px 0 rgba(27, 33, 44, 0.39);
  background-position: 100% 0;
}

.img {
  max-width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .title {
    font-size: 22px;
  }
}

.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: url("../img/bg.jpg");
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}
@media (max-width: 1100px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
    z-index: 6;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 20px;
  position: relative;
  z-index: 6;
}
.header__link {
  color: var(--title-text);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header__link:hover {
  color: var(--basic);
}
@media (max-width: 1100px) {
  .header__button {
    margin-left: auto;
    margin-right: 20px;
  }
}
.header__btn {
  position: relative;
  z-index: 6;
}
@media (max-width: 650px) {
  .header__btn {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    padding: 15px 40px;
  }
  .header__btn.active {
    bottom: 0;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1100px) {
  .header__burger {
    display: block;
    position: relative;
    height: 5px;
    width: 60px;
    z-index: 50;
    transition: all 0.3s ease;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    height: 5px;
    background-image: linear-gradient(76.3deg, rgb(69, 131, 123) 12.6%, rgb(44, 78, 70) 82.8%);
    margin: auto;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .header__burger::before {
    top: 5px;
    right: 0;
    width: 75%;
    transform-origin: right;
  }
  .header__burger::after {
    bottom: 5px;
    right: 0;
    width: 100%;
    transform-origin: right;
  }
  .header__burger.active::after {
    width: 75%;
  }
  .header__burger.active::before {
    width: 100%;
  }
}

.menu {
  position: relative;
  z-index: 6;
}
@media (max-width: 1100px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(47.3px);
    -webkit-backdrop-filter: blur(17.3px);
    padding: 100px 15px 0 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }
}
@media (max-width: 768px) {
  .menu {
    padding: 80px 15px 0 0;
  }
}
.menu.active {
  right: 0;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1100px) {
  .menu__list {
    display: block;
    text-align: right;
  }
}
@media (max-width: 1100px) {
  .menu__item {
    margin-bottom: 30px;
    display: block;
  }
}
.menu__link {
  color: var(--title-text);
  position: relative;
}
.menu__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 3px;
  /*задаём ширину линии*/
  background: linear-gradient(76.3deg, rgb(69, 131, 123) 12.6%, rgb(44, 78, 70) 82.8%);
  /*задаём цвет линии*/
  transition: all 0.3s ease-in-out;
}
.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
@media (max-width: 1100px) {
  .menu__link {
    font-size: 32px;
  }
}
@media (max-width: 570px) {
  .menu__link {
    font-size: 27px;
  }
}

@media (max-width: 600px) {
  .menu__item:nth-child(6) {
    margin-bottom: 60px;
  }
}

.home {
  margin: 85px 0 0;
}
@media (max-width: 1080px) {
  .home {
    margin-top: calc(48px + 37 * (100vw - 320px) / 760);
    margin-bottom: 50px;
  }
}
.home__container {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.home__body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 250px;
  z-index: 2;
  width: 400px;
  min-height: 400px;
  padding: 30px 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2392156863);
  background: rgba(255, 255, 255, 0.9333333333);
  text-align: center;
  border-radius: 20px;
  border-radius: 30px 30px 30px 0;
}
@media (max-width: 1400px) {
  .home__body {
    right: calc(100px + 150 * (100vw - 1080px) / 320);
  }
}
@media (max-width: 1080px) {
  .home__body {
    position: relative;
    width: 100%;
    transform: translateY(0);
    right: 0;
    top: 0;
    height: 100%;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2392156863);
    min-height: auto;
    border-radius: 0;
    padding: 30px 0 0;
  }
}
@media (max-width: 380px) {
  .home__body {
    padding: 30px 0;
  }
}
.home__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.home__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;
}
@media (max-width: 1080px) {
  .home__text {
    margin-bottom: 30px;
    font-size: 18px;
  }
}
.home__block {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
}
@media (max-width: 1080px) {
  .home__block {
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .home__block {
    display: block;
  }
}
.home__steps {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
  position: relative;
  padding-left: 25px;
  text-align: left;
}
.home__steps::before {
  content: "";
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 30px;
}
@media (max-width: 1080px) {
  .home__steps {
    font-size: 18px;
  }
}
.home__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 1080px) {
  .home__items {
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 430px) {
  .home__items {
    display: block;
  }
}
.home__price {
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 1080px) {
  .home__price {
    font-size: 30px;
  }
}
@media (max-width: 430px) {
  .home__price {
    margin-bottom: 20px;
    text-align: left;
  }
}
@media (max-width: 1080px) {
  .home__btn {
    font-size: 24px;
  }
}
@media (max-width: 430px) {
  .home__btn {
    width: 100%;
  }
}

.home__swiper .swiper-scrollbar {
  height: 3px;
  max-width: 100%;
  bottom: 0;
}

.home__swiper .swiper-scrollbar-drag {
  background-color: var(--clr4);
  height: 3px;
}

.advantages {
  padding: 60px 0;
  background: rgba(44, 78, 70, 0.0901960784);
}
@media (max-width: 768px) {
  .advantages {
    padding: 50px 0;
  }
}
.advantages__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
@media (max-width: 1000px) {
  .advantages__row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 850px) {
  .advantages__row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .advantages__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .advantages__row {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.advantages__column {
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .advantages__column {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0352941176);
    padding-bottom: 10px;
  }
}
.advantages__item {
  text-align: center;
}
.advantages__item span {
  position: absolute;
  top: -100px;
  right: -30px;
  font-size: 240px;
  opacity: 0.023;
  font-weight: 700;
  font-family: "Yanone Kaffeesatz";
  z-index: -1;
}
.advantages__image {
  margin-bottom: 20px;
}
.advantages__img {
  width: 100px;
}
.advantages__text {
  font-size: 18px;
  line-height: 1.2;
}

.enterprise {
  margin: 60px 0;
  background: url("../img/bg.jpg");
  background-position: center;
}
@media (max-width: 768px) {
  .enterprise {
    margin: 50px 0;
  }
}
.enterprise__row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.enterprise__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 768px) {
  .enterprise__item {
    flex-direction: column;
    gap: 0;
  }
}
.enterprise__item--block {
  flex: 0 1 50%;
  padding: 10px 50px;
  background: rgba(216, 216, 216, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}
@media (max-width: 1400px) {
  .enterprise__item--block {
    padding-left: calc(20px + 30 * (100vw - 768px) / 632);
    padding-right: calc(20px + 30 * (100vw - 768px) / 632);
  }
}
.enterprise__item--titile {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 12px;
  display: flex;
}
@media (max-width: 850px) {
  .enterprise__item--titile {
    font-size: 20px;
  }
}
.enterprise__item--text {
  font-size: 16px;
  margin-bottom: 10px;
}
@media (max-width: 1040px) {
  .enterprise__item--text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .enterprise__item--text {
    font-size: 16px;
  }
}

.one,
.three {
  border-radius: 0px 50px 50px 0;
}
@media (max-width: 768px) {
  .one,
  .three {
    border-radius: 0px 0px 50px 0;
    min-height: auto;
    padding: 40px 20px;
  }
}
@media (max-width: 530px) {
  .one,
  .three {
    padding: 40px 20px 20px;
    border-radius: 0px 0px 20px 0;
  }
}

.two,
.four {
  border-radius: 50px 0 0 50px;
}
@media (max-width: 768px) {
  .two,
  .four {
    border-radius: 0px 0px 50px 0;
    min-height: auto;
    padding: 40px 20px;
  }
}
@media (max-width: 530px) {
  .two,
  .four {
    padding: 40px 20px 20px;
    border-radius: 0px 0px 20px 0;
  }
}

@media (max-width: 768px) {
  .enterprise__item--rev {
    flex-direction: column-reverse;
  }
}

.enterprise__image-one {
  min-height: 400px;
  flex: 0 1 50%;
  background-image: url("../img/e1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px 0 0 0px;
}
@media (max-width: 768px) {
  .enterprise__image-one {
    min-width: 100%;
  }
}
@media (max-width: 530px) {
  .enterprise__image-one {
    min-height: 220px;
    border-radius: 20px 0 0 0px;
  }
}

.enterprise__image-two {
  min-height: 400px;
  flex: 0 1 50%;
  background-image: url("../img/e2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 50px 0 0px;
}
@media (max-width: 768px) {
  .enterprise__image-two {
    min-width: 100%;
    border-radius: 50px 0 0 0px;
  }
}
@media (max-width: 530px) {
  .enterprise__image-two {
    min-height: 220px;
    border-radius: 20px 0 0 0px;
  }
}

.enterprise__image-three {
  min-height: 400px;
  flex: 0 1 50%;
  background-image: url("../img/e3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px 0 0 0px;
}
@media (max-width: 768px) {
  .enterprise__image-three {
    min-width: 100%;
  }
}
@media (max-width: 530px) {
  .enterprise__image-three {
    min-height: 220px;
    border-radius: 20px 0 0 0px;
  }
}

.enterprise__image-four {
  min-height: 400px;
  flex: 0 1 50%;
  background-image: url("../img/e4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 50px 0 0px;
}
@media (max-width: 768px) {
  .enterprise__image-four {
    min-width: 100%;
    border-radius: 50px 0 0 0px;
  }
}
@media (max-width: 530px) {
  .enterprise__image-four {
    min-height: 220px;
    background-position: bottom;
    border-radius: 20px 0 0 0px;
  }
}

.gallery {
  padding: 50px 0;
  background: rgba(44, 78, 70, 0.062745098);
}
@media (max-width: 768px) {
  .gallery__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .gallery__title {
    font-size: 22px;
  }
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
@media (max-width: 1000px) {
  .gallery__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .gallery__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 550px) {
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.gallery__slide {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 30px 0px 30px 0;
}
.gallery__slide:hover .gallery__img {
  opacity: 0.5;
  transform: scale(1.05);
}
.gallery__slide:hover .gallery__item--text {
  opacity: 1;
}
.gallery__img {
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 8px rgba(27, 27, 29, 0.2196078431);
}
.gallery__item--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: var(--clr2);
  padding: 5px 10px;
  border-radius: 20px 20px 20px 0;
  background-color: rgba(255, 255, 255, 0.5137254902);
  box-shadow: 0 0 15px #fff;
}
@media (max-width: 768px) {
  .gallery__item--text {
    display: none;
  }
}

.order {
  padding: 50px 0;
  background: url("../img/background28.webp");
  background-position: center;
  text-align: center;
}
.order__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .order__row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 850px) {
  .order__row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .order__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .order__row {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.order__column {
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .order__column {
    padding-bottom: 10px;
  }
}
.order__item {
  text-align: center;
}
.order__item span {
  position: absolute;
  top: -80px;
  right: -20px;
  font-size: 120px;
  opacity: 0.05;
  font-weight: 700;
  font-family: "Yanone Kaffeesatz";
  z-index: 1;
  border: 1px solid #1b1b1d;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__image {
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}
.order__img {
  width: 100px;
}
.order__text {
  font-size: 18px;
  line-height: 1.2;
}
.order__link {
  padding: 20px 50px;
  width: 400px;
  font-size: 24px;
  display: inline-block;
  margin-top: 50px;
}
@media (max-width: 550px) {
  .order__link {
    width: 100%;
    font-size: 20px;
  }
}

.work {
  padding: 50px 0;
  background: rgba(44, 78, 70, 0.0274509804);
}
.work__title {
  margin-bottom: 80px;
}
.work__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 0 20px;
}
@media (max-width: 1000px) {
  .work__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .work__inner {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}
.work__item {
  position: relative;
  margin: 0 auto;
}
.work__item::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 50%;
  background: var(--clr5);
  top: -20px;
  left: -20px;
  border-radius: 0 50px 0 50px;
  z-index: -1;
  opacity: 0.5;
}
.work__item::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 50%;
  background: var(--clr5);
  bottom: 10%;
  right: -20px;
  border-radius: 0 50px 0 50px;
  z-index: -1;
  opacity: 0.5;
}
.work__item span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: #3b3b3b;
  font-size: 20px;
  box-shadow: 0 0 15px #9ea1a1;
  font-weight: 500;
  background-color: rgba(228, 248, 244, 0.631372549);
  border-radius: 20px 0 20px 0;
  padding: 3px 10px;
}
.work__image--block {
  display: flex;
  align-items: center;
}
.work__image {
  margin-bottom: 20px;
  max-width: 350px;
}
.work__img {
  box-shadow: rgba(27, 27, 29, 0.1843137255) 0 0 5px;
  border-radius: 50px 0px 50px 0;
}
.work__text {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.contact {
  padding: 50px 0;
  background-color: rgba(44, 78, 70, 0.0901960784);
  border-radius: 100px 100px 0 0;
}
@media (max-width: 768px) {
  .contact {
    padding-bottom: 20px;
    border-radius: 20px 20px 0 0;
  }
}
.contact__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 600px) {
  .contact__inner {
    justify-content: left;
    gap: 0;
  }
}
.contact__item {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 350px;
}
.contact__item svg {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.contact__item:hover svg {
  transform: rotate(5deg);
}
@media (max-width: 1050px) {
  .contact__item {
    margin-bottom: 20px;
  }
}
.contact__link {
  color: var(--clr2);
  transition: all 0.3s ease-in-out;
}
.contact__link:hover {
  transform: translateX(5px);
}

.footer {
  padding: 10px 0;
  border-top: 1px solid rgba(44, 78, 70, 0.1725490196);
  text-align: center;
  background-color: #cae2dc;
}
.footer__cooper {
  font-size: 10px;
  color: var(--clr2);
}
.footer__cooper a {
  color: var(--clr2);
  transition: all 0.3s ease-in-out;
}
.footer__cooper a:hover {
  color: #fff;
}

.scroll-up {
  position: fixed;
  right: 30px;
  bottom: -30%;
  font-size: 22px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr4);
  border-radius: 20px 20px 20px 0;
  box-shadow: 0 0 25px rgba(11, 109, 63, 0.5);
  animation: scroll 1.5s ease-in-out alternate infinite;
}
@media (max-width: 768px) {
  .scroll-up {
    right: 10px;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.scroll-up:hover {
  transform: translateY(-5px);
}

.show-scroll {
  bottom: 30px;
}